body {
  display: block;
  margin: 0;
  font-family: monospace;
  font-weight: 250;
  line-height: 24px;
  font-size: 16px;
  background: url(https://wallpaperaccess.com/full/404561.jpg);
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  font-size: 16px;
  font-weight: 200;
  height: 19px;
  line-height: 1;
  list-style: none;
  color: #343b40;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
}
.card {
  line-height: 23px;
  opacity: 56%;
  background: url(https://i.pinimg.com/originals/a9/8f/44/a98f44d4c289b1f0928150721413396b.gif);
}
.location-name {
  color: #ffffff;
  font-family: "Berkshire Swash", cursive;
  font-weight: 800;
  font-size: 65px;
}

.temperature {
  color: #343b40;
  font-size: 25px;
  font-weight: 600;
  line-height: 1;
}

.units {
  color: #343b40;
  font-size: 12px;
  position: relative;
  top: -12px;
  left: -13px;
}

.search-form {
  margin: 15px;
  padding: 25px 0px;
}

.coder-info {
  text-align: center;
  font-size: 8px;
  color: #adc2fd;
}
